.box {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: var(--size-2);
    margin-top: var(--size-4);
    border-left: solid 2px transparent;
    transition-duration: 0.5s;
}

.box:hover {
    border-left: solid 2px var(--bg-color-4);
}

.title {
    font-family: var(--font-sans, sans);
    font-size: var(--size-2);
    text-decoration: none;
    weight: 500;
}

.date {
    font-family: var(--font-ui, sans);
    font-size: var(--size-01);
    color: var(--secondary-color);
}

.description {
    font-family: var(--font-serif, serif);
}
